#bottomToolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center;
  padding: 10px;
  position: relative; /* Enable positioning of child elements */
}

#bottomArrow {
  cursor: pointer;
  position: absolute;
  left: 50%; /* Center the arrow horizontally */
  transform: translateX(-50%); /* Adjust position to truly center */
}

.youtube-section {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px; /* Position YouTube section to the right */
  bottom: 10px; /* Position YouTube section to the bottom */
}

.youtube-logo {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.youtube-input-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.youtube-input {
  padding: 5px;
  margin-right: 10px;
}

.transcribe-button, .download-button {
  padding: 5px 10px;
  cursor: pointer;
}

.download-button {
  margin-left: 10px;
  text-decoration: none;
  color: white;
  background-color: #007BFF;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
}