.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(34, 36, 37, 0.719);
  position: relative;
  z-index: 1500; /* Ensure the toolbar is on top */
}

#connectSmartHomeDropdown {
  width: auto;
  z-index: 2500; /* Ensure the dropdown is on top */
}

.scrollable-menu {
  max-height: calc(100vh - 70px); /* Full height of the page minus some padding */
  overflow-y: auto;
  z-index: 2500; /* Ensure the menu is on top of other elements */
  position: relative;
}

.dropdown-item-with-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-switch {
  margin-left: auto;
}

.reward-tally {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.reward-tally img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

#bottomToolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center;
  padding: 10px;
  position: relative; /* Enable positioning of child elements */
}

#bottomArrow {
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.youtube-section {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.youtube-logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
}

.youtube-input-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  border-radius: 3px;
}

.youtube-input {
  padding: 5px;
  margin-right: 10px;
  border-radius: 3px;
}

.transcribe-button, .download-button {
  padding: 5px 10px;
  cursor: pointer;
}

.download-button {
  margin-left: 10px;
  text-decoration: none;
  color: white;
  background-color: #007BFF;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
}

.chat-icons {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between the icons */
  margin-right: auto; /* Ensure the icons are on the left */
}

.chat-icon, .doctor-buddha-icon {
  cursor: pointer;
  z-index: 1000;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.chat-window {
  position: fixed;
  bottom: 70px;
  left: 10px;
  width: 300px;
  height: 400px;
  background: rgba(255, 255, 255, 0.326);
  color: rgba(29, 25, 25, 0.576);
  padding: 10px;
  border-radius: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.message {
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.message.user {
  background-color: #00e5ff4b;
  align-self: flex-end;
}

.message.bot {
  background-color: #5d00ff33;
  align-self: flex-start;
}

.chat-input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.send-button {
  padding: 10px;
  background-color: #ffaa0089;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.miner-switch-and-balances {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px;
}

.token-balances {
  display: flex;
  align-items: center;
  gap: 5px;
}

.token-balance {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px;
}

.token-icon {
  width: 24px;
  height: 24px;
  margin: 3px;
}

.miner-switch {
  display: flex;
  align-items: center;
}

#formattedAddress {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}



.arbitrage-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
}

.arbitrage-results {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  z-index: 1500;
}