.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(34, 36, 37, 0.719);
  position: relative;
  z-index: 1500; /* Ensure the toolbar is on top */
}

#connectSmartHomeDropdown {
  width: auto;
  z-index: 2500; /* Ensure the dropdown is on top */
}

.scrollable-menu {
  max-height: calc(100vh - 70px); /* Full height of the page minus some padding */
  overflow-y: auto;
  z-index: 2500; /* Ensure the menu is on top of other elements */
  position: relative;
}

.dropdown-item-with-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-switch {
  margin-left: auto;
}

.reward-tally {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.reward-tally img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

#bottomToolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center;
  padding: 10px;
  position: relative; /* Enable positioning of child elements */
}

#bottomArrow {
  cursor: pointer;
  position: absolute;
  left: 50%; /* Center the arrow horizontally */
  transform: translateX(-50%); /* Adjust position to truly center */
}

.youtube-section {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px; /* Position YouTube section to the right */
  bottom: 10px; /* Position YouTube section to the bottom */
}

.youtube-logo {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 3px;
}

.youtube-input-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  border-radius: 3px;
}

.youtube-input {
  padding: 5px;
  margin-right: 10px;
  border-radius: 3px;
}

.transcribe-button, .download-button {
  padding: 5px 10px;
  cursor: pointer;
}

.download-button {
  margin-left: 10px;
  text-decoration: none;
  color: white;
  background-color: #007BFF;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
}

.miner-switch-and-balances {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 3px;
}

.token-balances {
  display: flex;
  align-items: center;
  gap: 5px;
}

.token-balance {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 3px;
}

.token-icon {
  width: 24px;
  height: 24px;
  margin: 3px;
}

.miner-switch {
  display: flex;
  align-items: center;
}

#formattedAddress {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}